<div class="container pt-5">
  <h1>My Tasks</h1>
  <div class="card pt-2 ps-2 pe-2 mb-4 mt-4">
    <ul class="list-group list-group-flush">
      <% @tasks.each do |task| %>
        <li class="list-group-item d-flex justify-content-between pt-3"><%= link_to task.title, task_path(task), class: "text-secondary text-decoration-none" %>
        <div class="d-flex gap-2">
          <%= link_to "🗑", task_path(task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
          <% if task.completed == true %>
          <p>✅</p>
          <% else %>
          <p>🟨</p>
          <% end %>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "+ Add new task", new_path, class: "btn btn-primary" %>
</div>
